POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=moderation_db_user
POSTGRES_PASSWORD=moderation_db_password
POSTGRES_DB=moderation_db

JWT_SECRET=supersecretkey_change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

B2B_TO_MODERATION_KEY=secret-b2b-moderation-key

# B2B
B2B_URL=http://host.docker.internal:8000
